{% extends "base_simple.html" %}
{% block content %}
<main class="container-fluid p-3">
	<div class="row g-0 mt-2">
		<div class="col-12 row">
			<h3 class="mb-0" id="estado">En Marcha</h3>
            <div class="w-100 ps-4 d-flex align-items-center gap-2">
                {% for evento in prueba %}
				<span  class="text-muted fs-6 border-end pe-2" id="cliente">{{evento.cliente}}</span>
                <span class="text-muted fs-6" id="estado_tarea">{{ '[IMP] '+evento.estado_tarea}}</span>
			</div>
            {% endfor %}
		</div>
		<div class="col-12 row mt-4">
			<form id="pruebaForm" class="col-12" autocorrect="off" spellcheck="false" autocomplete="off" method="POST">
				<div class="row">
                    <div class="w-100 d-flex justify-content-start align-items-center">
                    </div>
                    <div class="w-100 d-flex justify-content-end align-items-center m-2">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#eliminarYesNo">
                            Eliminar Asignación
                        </button>

                        <button type="submit" class="btn btn-outline-success m-2">Guardar</button>
                    </div>
                </div>
				<div class="row mt-1">
                    <div class="input-group my-2 w-50">
                        <label class="input-group-text" for="employee">Empleado</label>
                        <select class="form-select" id="employee" name="employee" onchange="document.getElementById('employee_id').value = this.value">
                            {% for tecnico in tecnicos %}
                            <option value="{{tecnico.id}}" {% if prueba.tecnico== tecnico %}selected{% endif %}>{{ tecnico.tecnico }}</option>
                            {% endfor %}
                            <input type="hidden" id="employee_id" name="employee_id" value="{{ default_employee_id }}">
                        </select>
                    </div>
                    <div class="input-group my-2 w-50">
                        <label class="input-group-text" for="time">Tiempo</label>
                        <input type="text" class="form-control" id="time" name="time" value='{{ prueba.dedicacion|string }}'/>
                    </div>
                    <div class="input-group my-2 w-100">
                        <label class="input-group-text" for="priority">Prioridad</label>
                        <select class="form-select" id="priority" name="priority">
                            <option value="al">Alta</option>
                            <option value="md">Media</option>
                            <option value="bj">Baja</option>
                        </select>
                    </div>
                    <div class="input-group my-2 w-50 desde">
                        <label class="input-group-text" for="from_date">Desde</label>
                        <input class="flatpickr form-control bg-transparent" data-enabletime="true" clearOnDoubleClick id="from_date" name="from_date" placeholder="Selecciona fecha y hora"/>
                        <!-- Opcionalmente, puedes incluir un botón para abrir el calendario si usas Flatpickr con un botón de calendario -->
                        <button class="btn btn-secondary" id="open_calendar_button_from" type="button">Calendario</button>
                    </div>

                    <div class="input-group my-2 w-50 desde">
                        <label class="input-group-text" for="from_date">Hasta</label>
                        <input class="flatpickr form-control bg-transparent" data-enabletime="true" clearOnDoubleClick id="to_date" name="to_date" placeholder="Selecciona fecha y hora"/>
                        <!-- Opcionalmente, puedes incluir un botón para abrir el calendario si usas Flatpickr con un botón de calendario -->
                        <button class="btn btn-secondary" id="open_calendar_button_to" type="button">Calendario</button>
                    </div>

                    <div class="input-group my-2">
                        <span class="input-group-text">Comentario de la tarea</span>
                     <textarea id="comment" name='comment' class="form-control">
                        {% for record in prueba %}
                            {{ record.descripcion }}
                         {% endfor %}
                    </textarea>

                    </div>
                    <!--para abrir el modal -->
                    <div class="w-100 d-flex justify-content-end align-items-center m-2">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmacionModal">
                            Duplicar Página
                        </button>
                    </div>
                </div>
			</form>
		</div>
	</div>

<!-- DIALOGO MODAL -->

<div class="modal fade" id="eliminarYesNo" tabindex="-1" aria-labelledby="eliminarYesNoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarYesNoLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        esta seguro de eliminar esta asignación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>

    <!-- ACCION ELIMINAR -->
        <button type="button" class="btn btn-primary"  onclick="unassingWork();" >
            Si eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- FIN DE DIALOGO MODAL -->

<!-- DIALOGO MODAL DESCARGAS -->

<div class="modal fade" id="archivosAdjuntos" tabindex="-1" aria-labelledby="archivosAdjuntos" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarYesNoLabel">Archivos adjuntos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table align-middle table-striped">
                <tbody>
                    {% for attachment in attachments %}
                    <tr>
                        <td><a href="{{ url_for('routes.download_attachment', attachment=attachment.id) }}">{{ attachment.rec_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
        </div>
      </div>
    </div>
</div>

  <!-- FIN DE DIALOGO MODAL DESCARGAS -->
<!-- MODAL DUPLICADO ASIGNACION -->
<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmacionModalLabel">Confirmación de duplicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que quieres duplicar la página?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="duplicarPagina()">Duplicar</button>
            </div>
        </div>
    </div>
</div>

</main>
{% endblock %}
{% block scripts %}

<!-- Incluye la biblioteca Flatpickr mediante CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Inicializa Flatpickr para from_date
        var fromDatePicker = flatpickr('#from_date', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i', // Formato de fecha y hora
            altInput: true,
            altFormat: 'F j, Y H:i', // Formato de fecha y hora para la visualización en el input
            onClose: function (selectedDates, dateStr, instance) {
                console.log('Fecha y hora seleccionadas para from_date:', dateStr);
            }
        });

        // Configura el botón "Calendario" para abrir el calendario de from_date al hacer clic
        document.getElementById('open_calendar_button_from').addEventListener('click', function () {
            fromDatePicker.open();
        });

        // Inicializa Flatpickr para to_date
        var toDatePicker = flatpickr('#to_date', {
            enableTime: true,
            dateFormat: 'Y-m-d H:i', // Formato de fecha y hora
            altInput: true,
            altFormat: 'F j, Y H:i', // Formato de fecha y hora para la visualización en el input
            onClose: function (selectedDates, dateStr, instance) {
                console.log('Fecha y hora seleccionadas para to_date:', dateStr);
            }
        });

        // Configura el botón "Calendario" para abrir el calendario de to_date al hacer clic
        document.getElementById('open_calendar_button_to').addEventListener('click', function () {
            toDatePicker.open();
        });
    });
</script>
<script>
    function duplicarPagina() {

        // Cierra manualmente el modal
        var confirmacionModal = new bootstrap.Modal(document.getElementById('confirmacionModal'));
            confirmacionModal.hide();

        // Recopila los datos del formulario
         var clienteValue = document.getElementById('cliente').textContent;
         var estadoValue = document.getElementById('estado_tarea').textContent;
         var timeValue = document.getElementById('time').value.replaceAll(":", "-");
         var from_dateValue = document.getElementById('from_date').value.replaceAll(":", "-");
         var to_dateValue = document.getElementById('to_date').value.replaceAll(":", "-");
        var formData = {
            'estado': document.getElementById('estado').textContent,
            'cliente': clienteValue,
            'estado_tarea': estadoValue,
            'employee': document.getElementById('employee').options[document.getElementById('employee').selectedIndex].text,
            'time': timeValue,
            'priority': document.getElementById('priority').value,
            'from_date': from_dateValue,
            'to_date': to_dateValue,
            'comment': document.getElementById('comment').value.trim()
        };

        fetch('/ruta-flask', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=UTF-8',
                'Accept': 'application/json;charset=UTF-8'
            },
            body: JSON.stringify(formData)

        })

        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error(`Respuesta no exitosa: ${response.status} ${response.statusText}`);
            }
        })
        .then(data => {
            console.log('Datos parseados:', data);
        })
        .catch(error => {
            console.error('Error en la solicitud:', error);
        });
    }

</script>
{% endblock %}