{% extends "base.html" %}
{% block body %}
<main class="container-fluid p-3">
	<div class="row g-0">
        <div class="row">
            <div class="col">
                <a href="{{ request.referrer or url_for('routes.calendar') }}" class="text-decoration-none btn btn-outline-primary">Volver</a>
            </div>
            {% if attachments %}
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#archivosAdjuntos">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"></path>
                    </svg>
                </button>
            </div>
            {% endif %}
        </div>
	</div>
	<div class="row g-0 mt-2">
		<div class="col-12 row">
			<h3 class="mb-0">{{ event.work.name }}</h3>
			<div class="w-100 ps-4 d-flex align-items-center gap-2">
				<span class="text-muted fs-6 border-end pe-2">{{ get_top_project(event.work).name }}</span>
				<span class="text-muted fs-6">{{ event.work.internal_type_translated }}</span>
			</div>
		</div>
		<div class="col-12 row mt-4">
			<form id="eventForm" class="col-12" autocorrect="off" spellcheck="false" autocomplete="off" method="POST">
				<div class="row">
                    <div class="w-100 d-flex justify-content-start align-items-center">
                    </div>
                    <div class="w-100 d-flex justify-content-end align-items-center m-2">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#eliminarYesNo">
                            Eliminar Asignación
                        </button>

                        <button type="submit" class="btn btn-outline-success m-2">Guardar</button>
                    </div>
                </div>
				<div class="row mt-1">
                    <div class="input-group my-2 w-50">
                        <label class="input-group-text" for="employee">Empleado</label>
                        <select class="form-select" id="employee" name="employee">
                            {% for employee in employees %}
                            <option value="{{employee.id}}" {% if event.employee == employee %}selected{% endif %}>{{ employee.rec_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group my-2 w-50">
                        <label class="input-group-text" for="time">Tiempo</label>
                        <input type="text" class="form-control" id="time" name="time" value='{{ event.time|string }}'>
                    </div>
                    <div class="input-group my-2 w-100">
                        <label class="input-group-text" for="priority">Prioridad</label>
                        <select class="form-select" id="priority" name="priority">
                            {% for priority in priorities %}
                            <option value="{{priority.id}}" {% if event.priority == priority.code %}selected{% endif %}>[{{priority.code}}] {{ priority.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group my-2 w-50 desde">
                        <label class="input-group-text" for="from_date">Desde</label>
                        <input class="flatpickr form-control bg-transparent" data-enabletime=true clearOnDoubleClick id="from_date" name="from_date" value="{{ es_visible_dates['from_date'] }}">
                        <input type="hidden" id="from_date_hidden" name="from_date_hidden" value="{{ es_hidden_dates['from_date'] }}">
                    </div>
                    <div class="input-group my-2 w-50 hasta">
                        <label class="input-group-text" for="to_date">Hasta</label>
                        <input class="flatpickr form-control bg-transparent" data-enabletime=true clearOnDoubleClick id="to_date" name="to_date" value="{{ es_visible_dates['to_date'] }}">
                        <input type="hidden" id="to_date_hidden" name="to_date_hidden" value="{{ es_hidden_dates['to_date'] }}">
                    </div>
                    <div class="input-group my-2">
                        <span class="input-group-text">Comentario de la tarea</span>
                        <textarea id="comment" name='comment' class="form-control">{{ event.work.comment }}</textarea>
                    </div>
                    <div class="w-100 d-flex justify-content-end align-items-center m-2">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#duplicarModal">
                            Duplicar Página
                        </button>
                    </div>
                </div>
			</form>
		</div>
	</div>

<!-- DIALOGO MODAL -->

<div class="modal fade" id="eliminarYesNo" tabindex="-1" aria-labelledby="eliminarYesNoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarYesNoLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        esta seguro de eliminar esta asignación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>

    <!-- ACCION ELIMINAR -->
        <button type="button" class="btn btn-primary"  onclick="unassingWork();" >
            Si eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- FIN DE DIALOGO MODAL -->

<!-- DIALOGO MODAL DESCARGAS -->

<div class="modal fade" id="archivosAdjuntos" tabindex="-1" aria-labelledby="archivosAdjuntos" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarYesNoLabel">Archivos adjuntos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table align-middle table-striped">
                <tbody>
                    {% for attachment in attachments %}
                    <tr>
                        <td><a href="{{ url_for('routes.download_attachment', attachment=attachment.id) }}">{{ attachment.rec_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
        </div>
      </div>
    </div>
</div>

  <!-- FIN DE DIALOGO MODAL DESCARGAS -->
<!-- Modal para confirmar la duplicación -->
<div class="modal fade" id="duplicarModal" tabindex="-1" aria-labelledby="duplicarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="duplicarModalLabel">Confirmar Duplicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de duplicar la página?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="duplicarPagina()">Duplicar</button>
            </div>
        </div>
    </div>
</div>
    <!-- Fin modal para confirmar la duplicación -->
</main>
{% endblock %}
{% block scripts %}
<script>
    const initialize = () => {
        const eventForm = document.getElementById('eventForm')
        const onSubmitEventForm = async (e) => {
            e.preventDefault()

            const employee = eventForm.employee.value
            const time = eventForm.time.value
            const from_date = eventForm.from_date_hidden.value
            const to_date = eventForm.to_date_hidden.value
            const comment = eventForm.comment.value
            const priority = eventForm.priority.value

            const data = {
                employee,
                time,
                from_date,
                to_date,
                comment,
                priority
            }

            const url = '{{ url_for("api.calendar_event_edit", event=event) }}'
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })

            if (response.ok) {
                if (!from_date && !to_date) {
                    window.location.href = '{{ url_for("routes.calendar")}}'
                    return
                }
                const parser = new DOMParser()
                const html = parser.parseFromString(await response.text(), 'text/html')
                const _eventForm = html.querySelector('#eventForm')
                const eventFormParent = eventForm.parentNode
                eventFormParent.replaceChild(_eventForm, eventForm)
                initialize()
            } else {
                console.error(response)

            }
        }
        eventForm.addEventListener('submit', onSubmitEventForm)

        const commentTextarea = eventForm.querySelector('#comment')
        const updateTextareaHeight = () => {
            commentTextarea.style.height = commentTextarea.scrollHeight + 'px'
        }
        updateTextareaHeight()
    }
    initialize()

        /* ELIMINAR ASIGNACION */
    async function unassingWork() {
            const url = '{{ url_for("api.calendar_event_unassign", event=event) }}'
            const eventForm = document.getElementById('eventForm')
            const from_date = eventForm.from_date_hidden.value
            const to_date = eventForm.to_date_hidden.value
            const response = await fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
            })

            window.location.assign(document.referrer)
            history.go(-1)
            window.location.reload()

            // console.log(window.location.url)

            //         return
            //     const parser = new DOMParser()
            //     const html = parser.parseFromString(await response.text(), 'text/html')
            //     const _eventForm = html.querySelector('#eventForm')
            //     const eventFormParent = eventForm.parentNode
            //     eventFormParent.replaceChild(_eventForm, eventForm)
            //     initialize()

            // } else {
            //     console.error(response)

            // }
            return ;
    }
</script>

<script>
    const params = {
        enableTime: true,
        dateFormat: 'd/m/Y - H:i',
        minDate: '1980-01-01',
        locale: {
            firstDayOfWeek: 1,
            weekdays: {
                shorthand: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            },
            months: {
                shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Оct', 'Nov', 'Dic'],
                longhand: ['Enero', 'Febrero', 'Мarzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            },
        },
    }

    const from_date = flatpickr('#from_date', params)
    const to_date = flatpickr('#to_date', params)

    from_date.set("onChange", function(date) {
        console.log('from_date', date)
        setDatesAndDifference('from_date', date)
    })

    to_date.set("onChange", function(date) {
        console.log('to_date', date)
        setDatesAndDifference('to_date', date)
    })

    const setDatesAndDifference = (date_type, date) => {

        date = new Date(date)
        const tzoffset = (date).getTimezoneOffset() * 60000
        const localISOTime = new Date((date) - tzoffset).toISOString().split(':')
        const day_and_hours = localISOTime[0]
        const minutes = localISOTime[1]

        let from_dateObj = null, to_dateObj = null

        if(date_type === 'from_date') {
            document.getElementById('from_date_hidden').value = day_and_hours + ':' + minutes
            from_dateObj = date
            to_dateObj = new Date(Date.parse(document.getElementById('to_date_hidden').value))
        }
        else if(date_type === 'to_date'){
            document.getElementById('to_date_hidden').value = day_and_hours + ':' + minutes
            to_dateObj = date
            from_dateObj = new Date(Date.parse(document.getElementById('from_date_hidden').value))
        }

        // console.log('from_dateObj', from_dateObj)
        // console.log('to_dateObj', to_dateObj)

        if(from_dateObj && to_dateObj) {
            diffInMilliSeconds = Math.abs(from_dateObj - to_dateObj)
            console.log(diffInMilliSeconds)

            const minutes = Math.floor(diffInMilliSeconds / 60000)
            // console.log('minutes', minutes)

            const hours = (minutes / 60)
            // console.log('hours', hours)

            // If the difference is only hours
            if(!isFloat(hours)) {
                document.getElementById('time').value = hours + ':00:00'
            }
            // If the  difference is hours and minutes
            else {
                document.getElementById('time').value = setStringForTimeVal(Math.floor(hours)) + ':' + setStringForTimeVal(minutes - (Math.floor(hours) * 60)) + ':00'
            }
        }
    }

    const setStringForTimeVal = (val) => {
        if(String(Math.abs(val)).charAt(0) == val) {
            // console.log('es un digito')
            return String('0' + val)
        }
        else {
            // console.log('no es un digito')
            return String(val)
        }
    }

    const isFloat = (value) => {
        if (
            typeof value === 'number' &&
            !Number.isNaN(value) &&
            !Number.isInteger(value)
        ) {
            return true;
        }
        return false;
    }




</script>
<script>
        // Nueva función para duplicar la página
    function duplicarPagina() {
        const contenidoHTML = document.documentElement.outerHTML;

        // Enviar la solicitud al backend para duplicar la página
        fetch('/duplicar_pagina', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ contenidoHTML }),
        })
        .then(response => response.json())
        .then(data => {
            alert(data.mensaje); // Muestra el mensaje de confirmación
            window.location.href = 'duplica.html'; // Redirecciona a la página duplicada
        })
        .catch(error => console.error(error));

</script>
<script>




</script>
{% endblock %}