{% extends "base.html" %}
{% block head %}
<style>
  .custom-radio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
{% endblock head %}
{% block body %}

<div class="row g-0 w-100 mt-4">
		<form id="filterTimesheetLines">
			<div class="col-12 row">
				<div class="col-3">
					<div class="input-group my-2">
						<label class="input-group-text" for="from_date">Desde</label>
						<input clearOnDoubleClick type="date" class="form-control" id="from_date" name="from_date"
							value="{{request.args.get('from_date')}}" />
					</div>
				</div>
				<div class="col-3">
					<div class="input-group my-2">
						<label class="input-group-text" for="to_date">Hasta</label>
						<input clearOnDoubleClick type="date" id="to_date" name="to_date" class="form-control"
							value="{{request.args.get('to_date')}}" />
					</div>
				</div>
				{% if employee %}
				<div class="col-3">
					<div class="input-group my-2">
						<label class="input-group-text" for="employee">Empleado</label>
						<select class="form-select" id="employee" name="employee">
							<option value="all">Todos</option>
							{% for employees in employee %}
							<option value="{{g.id}}" {% if employees.id|string==request.args.get('employee',
								employees.id)|string %}selected{%endif%}>{{ employees.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-3">
					<div class="input-group my-2">
						<label class="input-group-text" for="client">Cliente</label>
						<select class="form-select" id="client" name="client">
							<option value="all">Todos</option>
							{% for client in lines %}
							<option value="{{client.id}}">{{ client.cliente}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				{% endif %}
				<div class="col-3">
					<div class="input-group my-2">
						<label class="input-group-text" for="work-type">Tipo de tarea</label>
						<select class="form-select" id="work-type" name="work-type">
							<option value="all">Todos</option>
							{% for internal_type in lines%}
							<option value="{{ internal_type[0] }}">{{ internal_type.tarea }}</option>

							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col d-flex justify-content-end align-items-center">
					<button id="limpiarFiltros" class="btn btn-outline-secondary mr-8">Limpiar Filtros</button>&nbsp&nbsp
					<button id="filtrar" class="btn btn-outline-success mr-2">Filtrar</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row g-0 w-100 mt-4">
		<form id="miformulario" method="POST">
				<div class="col d-flex justify-content-center align-items-center">
					<button  type="submit" class="btn btn-outline-success" onclick="prepararDatos()">Exportar</button>
				</div>
		<div class="col-12">

			<table class="table table-striped table-bordered table-sortable" id="parts-table">
				<thead class="thead-dark">
					<tr>
						<th id="selection-state-head"><input type="checkbox" role="button" onclick="selectAllRows(this)" style="margin:10%;"></th>
						<th class="sortable both" role="button" scope="col" id="date-head">Fecha</th>
						<th scope="col">Dedicación</th>
						<th class="sortable both" role="button" scope="col" id="type-head">Tipo de tarea</th>
						<th scope="col">Estado de tarea</th>
						<th class="sortable both" role="button" id="employee-head" scope="col">Técnico</th>
						<th class="sortable both" role="button" id="customer-head" scope="col">Cliente</th>
						<th id="work-head" scope="col">Tarea</th>
						<th scope="col">Descripción</th>
						<th scope="col">Conforme</th>
						<th scope="col">Observación</th>
						<th scope="col">Nombre</th>
						{% if g.employee %}
						<th id="edit-btn-head" scope="col">Ver/Editar</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
						{%for line in lines%}
							<tr>
								<td class="selection-state">
									<input type="checkbox" name="checkboxes" onclick="selectRow(this)" role="button"  style="margin:10%;"  value="{{line.id}}">
								</td>
								<td id="line_work-id" style="display:none;">{{ line.id }}</td>
								<td id="line_date"  scope="row" style="width: 100px">{{ line.fecha }}</td>
								<td id="line_duration" >{{ (line.dedicacion|string)[:-3] }}</td>
								<td id="line_work-type" style="width: 140px">{{ line.tipo_tarea}}</td>
								<td id="line_status"  style="width: 140px">{{ line.estado_tarea}}</td>
								<td id="line_employee">{{ line.tecnico}}</td>
								<td id="line_party" >{{ line.cliente}}</td>
								<td id="line_work" >{{ line.tarea }}</td>
								<td id="line_description">{{ line.descripcion }}</td>
								<!-- aqui van los radio button -->
								<td id="line_according_{{ line.id }}" >
									<div class="custom-radio">
										<label for="yes_{{ line.id }}" style="margin-right: 10px;">S</label>
										<label for="no_{{ line.id }}" style="margin-right: 5px;">N</label>
									</div>
									<div class="custom-radio" style="margin-top: 10px;">
										<input type="radio" id="yes_{{ line.id }}" style="margin-right: 10px;" name="conforme_{{ line.id }}" value="yes" onclick="showCommentBoxYes('{{ line.id }}', this.id)">
										<input type="radio" id="no_{{ line.id }}" style="margin-right: 5px;" name="conforme_{{ line.id }}" value="no" onclick="showCommentBoxNo('{{ line.id }}', this.id)">
									</div>
								</td>
								<td id="line_commentBox" >
									{% if line.comentario %}
										{{line.comentario}}
									{% endif %}
								</td>
								<td id="line_name">
									<a href="/events?event_param={{ line.id }}">
									[EP] En proceso</a></td>
								<td id="line_internal-description" style="display:none;">{{ line.editor_ver }}</td>
								{% if g.employee %}
								<td>
									<button type="button" class="edit-btn btn btn-default btn-sm">
										<span class="glyphicon glyphicon-edit"></span> Editar
									</button>
								</td>

							</tr>

						{% endif %}
						<tr id="time-count" style="height: 35px;" colspan="10">
							<td></td><td></td>
							<td id="time-cell"></td>
							<td></td><td></td><td></td><td></td><td></td><td></td>
							{% if g.employee %}
							<td></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<input type="hidden" name="datos_seleccionados" id="dataInput">
		</div>
		</form>
	</div>
</main>

<script>

	function selectAllRows(checkbox) {
        // Obtener todas las filas de la tabla
        var filas = document.querySelectorAll('#parts-table tbody tr');

        // Iterar sobre las filas y marcar/desmarcar los checkboxes
        filas.forEach(function (fila) {
            var checkboxFila = fila.querySelector('input[name="checkboxes"]');
            if (checkboxFila) {
                checkboxFila.checked = checkbox.checked;
                selectRow(checkboxFila); // Corrección aquí
            }
        });
    }

    function selectRow(checkbox) {
        // Obtener la fila que contiene el checkbox
        var fila = checkbox.closest('tr');

        // Agregar o quitar una clase para cambiar la apariencia de la fila
        if (checkbox.checked) {
            fila.classList.add('fila-seleccionada');
        } else {
            fila.classList.remove('fila-seleccionada');
        }
    }


    function prepararDatos() {
    var selectedLines = [];

    // Obtener todas las filas de la tabla
    var filas = document.querySelectorAll('#parts-table tbody tr');

    // Iterar sobre las filas
    filas.forEach(function (fila) {
        // Verificar si el checkbox de la fila está marcado
        var checkbox = fila.querySelector('input[name="checkboxes"]');
        if (checkbox && checkbox.checked) {
            // Crear un objeto con los datos de la fila y agregarlo al array
            var line = {
                id: checkbox.value,
                fecha: fila.querySelector('#line_date').textContent,
                dedicacion: fila.querySelector('#line_duration').textContent,
                tipo_tarea: fila.querySelector('#line_work-type').textContent,
                estado_tarea: fila.querySelector('#line_status').textContent,
                tecnico: fila.querySelector('#line_employee').textContent,
                cliente: fila.querySelector('#line_party').textContent,
                tarea: fila.querySelector('#line_work').textContent,
                descripcion: fila.querySelector('#line_description').textContent,
                editar_ver: fila.querySelector('#line_internal-description').textContent
            };
            selectedLines.push(line);
        }
    });

    // Convertir el array de objetos en una cadena JSON
    var jsonDatos = JSON.stringify(selectedLines);

    console.log("Datos seleccionados:", jsonDatos);

    // Obtener el formulario después de la creación del JSON
    var formulario = document.querySelector('#miformulario');

	console.log("Formulario:", formulario);

    // Verificar si el formulario existe antes de configurar el campo oculto
    if (formulario) {
        // Configurar directamente el valor del campo oculto con la cadena JSON
        formulario.elements['datos_seleccionados'].value = jsonDatos;

        console.log("Campo oculto configurado en el formulario.");

        // Enviar el formulario
        formulario.submit();

        console.log("Formulario enviado.");
    } else {
        console.error("Error: El formulario no se encontró");
    }
};
	// limpiar filtro

	document.addEventListener("DOMContentLoaded", function() {
		document.getElementById("limpiarFiltros").addEventListener("click", function() {
			// Limpiar los valores de los campos de filtro
			document.getElementById("from_date").value = "";
			document.getElementById("to_date").value = "";
			document.getElementById("employee").value = "all";
			document.getElementById("client").value = "all";
			document.getElementById("work-type").value = "all";

			// Limpiar la tabla eliminando todas las filas
			var table = document.getElementById("parts-table");
			var rowCount = table.rows.length;
			for (var i = rowCount - 1; i > 0; i--) {
				table.deleteRow(i);
			}

			// Luego puedes enviar el formulario para aplicar los filtros limpios, si es necesario
			document.getElementById("filterTimesheetLines").submit();
		});
	});


	// function para botones

function showCommentBoxYes(lineId, buttonId) {
    console.log(buttonId);
    console.log("Función showCommentBoxYes llamada para la línea ID:", lineId);
    var yesRadioButton = document.getElementById(buttonId);
    var yesChecked = yesRadioButton.checked;
    console.log("¿El botón 'Sí' está marcado?", yesChecked);

    // Crear un objeto con los datos que se enviarán al servidor
    var requestData = {
        lineId: lineId,
        comment: "OK, está de acuerdo con lo realizado"
    };

    // Enviar la solicitud al servidor y manejar la respuesta
    sendRequest("/commentBox", requestData)
        .then(function(response) {
            if (response.success) {
                // Actualizar la tabla
                updateTable();  // Implementa esta función para actualizar la tabla
            } else {
                console.error("Error al actualizar la tabla");
            }
        })
        .catch(function (error) {
            console.error("Error al enviar la solicitud:", error);
        });
}

function sendRequest(url, data) {
    return new Promise(function (resolve, reject) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    resolve(xhr.responseText);
                    window.location.reload();
                } else {
                    reject(xhr.statusText);
                }
            }
        };
        xhr.send(JSON.stringify(data));
    });

}

function handleServerResponse(response) {
    // Actualizar el DOM con la respuesta del servidor
    console.log("Respuesta del servidor:", response);
    // Aquí puedes manipular el DOM según la respuesta recibida

}



function showCommentBoxNo(lineId, buttonId) {
	var noRadioButton = document.getElementById(buttonId);
    var noChecked = noRadioButton.checked;
    var comment = prompt("Por favor, ingrese un comentario:");
    if (comment !== null) {
        var requestData = {
            lineId: lineId,
            text: "NO",
            comment: comment  // Guardar el comentario en los datos a enviar
        };

        // Realizar una solicitud AJAX para enviar los datos al servidor Flask
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/commentBox", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Manejar la respuesta del servidor si es necesario
                console.log("Respuesta del servidor:", xhr.responseText);
                window.location.reload();
            }
        };

        // Enviar los datos al servidor
        xhr.send(JSON.stringify(requestData));
    }

}


</script>

{% endblock body %}